@model H724.UI.Web.Models.RoomReservationModel
@{
    ViewBag.Title = "SetRoomsData";
}

<h2>Index</h2>
@using (Html.BeginForm("RoomBooking", "RoomReservation"))
{
    <table class="">
        <tr>

            <td style="width:200px;">@Html.Label(" Email")</td>
            <td>@Html.TextBox("email")</td>
        </tr>

        <tr>

            <td>@Html.Label("First name")</td>
            <td>@Html.TextBox("firstName")</td>
        </tr>
        <tr>

            <td>@Html.Label("Last name")</td>
            <td>@Html.TextBox("lastName")</td>
        </tr>
        <tr>

            <td>@Html.Label("Home phone")</td>
            <td>@Html.TextBox("homePhone")</td>
        </tr>
        <tr>

            <td>@Html.Label("Work phone")</td>
            <td>@Html.TextBox("workPhone")</td>
        </tr>
        <tr>

            <td>@Html.Label(" Address")</td>
            <td>@Html.TextBox("address")</td>
        </tr>
        <tr>

            <td>@Html.Label("Postal code")</td>
            <td>@Html.TextBox("postalCode")</td>
        </tr>
        
        <tr>

            <td>@Html.Label("Credit card type")</td>
            <td>@Html.TextBox("creditCardType")</td>
        </tr>
        <tr>

            <td>@Html.Label("Credit card number")</td>
            <td>@Html.TextBox("creditCardNumber")</td>
        </tr>
        <tr>

            <td>@Html.Label("Credit card Identifier")</td>
            <td>@Html.TextBox("creditCardIdentifier")</td>
        </tr>
        <tr>

            <td>@Html.Label("Credit card expiration month")</td>
            <td>@Html.TextBox("creditCardExpirationMonth")</td>
        </tr>
        <tr>

            <td>@Html.Label("Credit card expiration year")</td>
            <td>@Html.TextBox("creditCardExpirationYear")</td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><input type="submit" class="btn btn-mini btn-info" value="Book Now" style="font-size:16px; padding:10px;" /></td>
        </tr>
    </table>
    
    
    


    @Html.HiddenFor(x => x.currencyCode);
    @Html.HiddenFor(x => x.hotelId);
    @Html.HiddenFor(x => x.arrivalDate);
    @Html.HiddenFor(x => x.departureDate);
    @Html.HiddenFor(x => x.supplierType);
    @Html.HiddenFor(x => x.rateKey);
    @Html.HiddenFor(x => x.roomTypeCode);
    @Html.HiddenFor(x => x.rateCode);
    @Html.HiddenFor(x => x.chargeableRate);
    @Html.HiddenFor(x => x.bedTypeId);
    @Html.HiddenFor(x => x.smokingPreferences);
    @Html.HiddenFor(x => x.city);
    @Html.HiddenFor(x => x.stateProvinceCode);
    @Html.HiddenFor(x => x.countryCode);
    @Html.HiddenFor(x => x.numberOfAdults);
    @Html.HiddenFor(x => x.numberOfChildren);
    @Html.HiddenFor(x => x.Age);
}
