@using Microsoft.Web.Mvc
@model H724.UI.Web.Models.RoomBookingWizard

@{
    ViewBag.Title = "Room Booking First Part";
}

<style>
    .main-form {
        width: 500px;
        margin-top: 30px;
        clear: both;
    }

    .inner-form {
        width: 500px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .text-area {
        float: left;
        font: 14px Arial, Helvetica, sans-serif;
        color: #333;
        margin: 0px 10px 0px 0px;
        padding: 8px 0px 0px 0px;
        width: 250px;
    }

    .form-input {
        height: 25px;
        border: #999 solid 2px;
        background: #CCC;
        width: 230px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .heading {
        background-color: #EEF3F9;
        height: 32px;
        padding-top: 8px;
        padding-left: 3px;
        font-weight: bold !important;
        border-color: #C1D5EB;
        color: #0D447F;
    }

    .main-heading {
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
    }
</style>

<form action="@Url.Action("RoomBookingSecond", "Rooms")" method="GET">
    <label class="main-heading">Complete Your Booking</label>

    <div class="main-form">
        <div class="heading">
            Guest Details
        </div>

        <div class="inner-form">
            <div class="text-area">
                First name
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.FirstName)
        </div>
        <div class="inner-form">
            <div class="text-area">
                Last name
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.LastName)
        </div>

        <div class="heading">
            Contact Details
        </div>

        <div class="inner-form">
            <div class="text-area">
                Email
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.Email)
            @*@Html.TextBoxFor(model => model.Email, new { required = "required " })*@
        </div>
        <div class="inner-form">
            <div class="text-area">
                Confirm Email
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.ConfirmEmail)
        </div>
        <div class="inner-form">
            <div class="text-area">
                Home phone
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.HomePhone)
        </div>
        <div class="inner-form">
            <div class="text-area">
                work phone
            </div>
            @Html.TextBoxFor(model => model.PersonalInfo.WorkPhone)
        </div>
        
        @Html.Serialize("bookingWizard", Model)
        
        <div class="inner-form">
            <div class="text-area">

            </div>
            <input type="submit" value="Book" class="btn btn-primary" />
        </div>
    </div>
</form>
