@model H724.Services.Expedia.Hotels.Models.Response.HotelRoomReservationResponse

@{
    ViewBag.Title = "RoomBooking Final";
}

<h2>Reservation</h2>

<fieldset>
    <legend>HotelRoomReservationResponse</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CustomerSessionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerSessionId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ItineraryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItineraryId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ConfirmationNumbers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationNumbers)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProcessedWithConfirmation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcessedWithConfirmation)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SupplierType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupplierType)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReservationStatusCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationStatusCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ExistingItinerary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExistingItinerary)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NumberOfRoomsBooked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfRoomsBooked)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ArrivalDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArrivalDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DepartureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartureDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelAddress)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelCity)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelStateProvinceCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelStateProvinceCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelPostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelPostalCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.HotelCountryCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelCountryCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RoomDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomDescription)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TripAdvisorRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripAdvisorRating)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TripAdvisorReviewCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripAdvisorReviewCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.TripAdvisorRatingUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripAdvisorRatingUrl)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RateOccupancyPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RateOccupancyPerRoom)
    </div>
</fieldset>

