@using Microsoft.Web.Mvc
@model H724.UI.Web.Models.RoomBookingWizard

@{
    ViewBag.Title = "Room Booking Second Part";
}

<style>
    .main-form {
        width: 500px;
        margin-top: 30px;
        clear: both;
    }

    .inner-form {
        width: 500px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .text-area {
        float: left;
        font: 14px Arial, Helvetica, sans-serif;
        color: #333;
        margin: 0px 10px 0px 0px;
        padding: 8px 0px 0px 0px;
        width: 250px;
    }

    .form-input {
        height: 25px;
        border: #999 solid 2px;
        background: #CCC;
        width: 230px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .heading {
        background-color: #EEF3F9;
        height: 32px;
        padding-top: 8px;
        padding-left: 3px;
        font-weight: bold !important;
        border-color: #C1D5EB;
        color: #0D447F;
        margin-top: 20px;
    }

    .main-heading {
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
    }
</style>

<form action="@Url.Action("RoomBookingFinal", "Rooms")" method="POST">
    <label class="main-heading">Complete Your Booking</label>

    <div class="main-form">
        <div class="heading">
            Credit Card Information
        </div>

        <div class="inner-form">
            <div class="text-area">
                Card Type
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.CardType)*@
            <input id="PaymentInfo_CardType" type="text" value="MC" name="PaymentInfo.CardType">
        </div>
        <div class="inner-form">
            <div class="text-area">
                Card number
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.Cardnumber)*@
            <input id="PaymentInfo_Cardnumber" type="text" value="5401999999999999" name="PaymentInfo.Cardnumber">
        </div>
        <div class="inner-form">
            <div class="text-area">
                Cardholder First name
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.CardHolderFirstName)*@
            <input id="PaymentInfo_CardHolderFirstName" type="text" value="Test Booking" name="PaymentInfo.CardHolderFirstName">
        </div>
        <div class="inner-form">
            <div class="text-area">
                Cardholder Last name
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.CardHolderLastName)*@
            <input id="PaymentInfo_CardHolderLastName" type="text" value="Test Booking" name="PaymentInfo.CardHolderLastName">
        </div>
        <div class="inner-form">
            <div class="text-area">
                Expiration month
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.CardExpirationMonth)*@
            <input id="PaymentInfo_CardExpirationMonth" type="text" value="12" name="PaymentInfo.CardExpirationMonth">
        </div>
        <div class="inner-form">
            <div class="text-area">
                Expiriation year
            </div>
            @*@Html.TextBoxFor(model => model.PaymentInfo.CardExpirationYear)*@
            <input id="PaymentInfo_CardExpirationYear" type="text" value="2017" name="PaymentInfo.CardExpirationYear">
        </div>

        <div class="heading">
            Billing Address:
        </div>

        <div class="inner-form">
            <div class="text-area">
                Country code
            </div>
            @*Html.TextBoxFor(model => model.AddressInfo.CountryCode)*@
        <input id="AddressInfo_CountryCode" type="text" value="UK" name="AddressInfo.CountryCode">
    </div>
    <div class="inner-form">
        <div class="text-area">
            Street address
        </div>
         @*Html.TextBoxFor(model => model.AddressInfo.Address1)*@
            <input id="AddressInfo_Address1" type="text" value="travelnow" name="AddressInfo.Address1">
        </div>
        <div class="inner-form">
            <div class="text-area">
                City
            </div>
            @Html.TextBoxFor(model => model.AddressInfo.City)            
        </div>
        <div class="inner-form">
            <div class="text-area">
                Postal code
            </div>
            @Html.TextBoxFor(model => model.AddressInfo.PostalCode)
           
        </div>
        <div class="inner-form">
            <div class="text-area">
                State
            </div>
            @Html.TextBoxFor(model => model.AddressInfo.StateProvinceCode)
        </div>
        
        @Html.Serialize("bookingWizard", Model)
        
        <div class="inner-form">
            <div class="text-area">

            </div>
            <input type="submit" value="Book" class="btn btn-primary" />
        </div>
    </div>
</form>
